{% set fluentd_dir = 'td-agent' if kolla_base_distro in ['ubuntu', 'debian'] else 'fluentd' %}
<source>
  @type tail
  path /var/log/kolla/mariadb/mariadb.log
  pos_file /var/run/{{ fluentd_dir }}/mariadb.pos
  tag infra.mariadb
  format multiline_grok
  enable_watch_timer false
  multiline_start_regexp /^[^\s\W]/
  <grok>
    pattern (?<time>%{YEAR}-%{MONTHNUM}-%{MONTHDAY} +%{HOUR}:?%{MINUTE}(?::?%{SECOND})) [0-9]{15} \[%{LOGLEVEL:log_level}\] %{GREEDYDATA:Payload}
    time_format %Y-%m-%d %k:%M:%S
  </grok>
  <grok>
    pattern (?<time>%{YEAR}%{MONTHNUM}%{MONTHDAY} %{HOUR}:?%{MINUTE}(?::?%{SECOND})) mysqld_safe %{GREEDYDATA:Payload}
    time_format %y%m%d %k:%M:%S
  </grok>
  <grok>
    pattern %{GREEDYDATA:Payload}
  </grok>
</source>
