[client]
default-character-set=utf8
user={{ mariadb_backup_database_user }}
password={{ role_mariadb_database_backup_password }}
host={{ role_mariadb_database_address }}
port={{ role_mariadb_database_port }}
