{
    "command": "manila-share --config-file /etc/manila/manila.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/manila.conf",
            "dest": "/etc/manila/manila.conf",
            "owner": "manila",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/manila/policy.json",
            "owner": "manila",
            "perm": "0600",
            "optional": true
        }{% if enable_manila_backend_ceph_native | bool %},
        {
            "source": "{{ container_config_directory }}/ceph.*",
            "dest": "/etc/ceph/",
            "owner": "manila",
            "perm": "0700"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/manila",
            "owner": "manila:manila",
            "recurse": true
        }
    ]
}
