[DEFAULT]
log_file = monasca-persister.log
log_dir = /var/log/kolla/monasca
debug = {{ monasca_logging_debug }}

[influxdb]
database_name = {{ monasca_influxdb_name }}
# It is assumed that InfluxDB will be deployed on the same host
ip_address = {{ 'api' | kolla_address | put_address_in_context('url') }}
port = {{ monasca_influxdb_http_port }}

[kafka_alarm_history]
uri = {{ monasca_kafka_servers }}
topic = {{ monasca_alarm_state_transitions_topic }}
num_processors = 1
group_id = {{ monasca_alarm_state_transitions_topic }}_{{ inventory_hostname_short }}

[kafka_metrics]
uri = {{ monasca_kafka_servers }}
topic = {{ monasca_metrics_topic }}
num_processors = {{ monasca_metric_pipeline_threads }}
group_id = {{ monasca_metrics_topic }}_{{ inventory_hostname_short }}

[zookeeper]
uri = {{ monasca_zookeeper_servers }}
