actions:
  1:
    action: close
    description: >-
      Closes indices
    options:
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: prefix
      value: "{{ elasticsearch_curator_index_pattern }}"
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: "{{ elasticsearch_curator_soft_retention_period_days }}"
  2:
    action: delete_indices
    description: >-
      Delete indicies
    options:
      ignore_empty_list: True
    filters:
    - filtertype: pattern
      kind: prefix
      value: "{{ elasticsearch_curator_index_pattern }}"
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: "{{ elasticsearch_curator_hard_retention_period_days }}"
{% if elasticsearch_curator_rollover | bool %}
{% for index in elasticsearch_curator_rollover_options %}
  {{ 2 + loop.index }}:
    action: rollover
    description: >-
      Rollover index associated with {{ index.name }} alias
    options:
      {{ index | to_nice_yaml | indent(6, false) }}
{% endfor %}
{% endif %}
