Api:
  url: null
  service_type: monitoring
  endpoint_type: internal
  region_name: {{ openstack_region_name }}
  username: {{ monasca_agent_user }}
  password: {{ monasca_agent_password }}
  keystone_url: {{ admin_protocol }}://{{ kolla_internal_fqdn }}:{{ keystone_admin_port }}/v3
  user_domain_id: null
  user_domain_name: Default
  project_name: {{ monasca_metrics_project }}
  project_id: null
  project_domain_id: {{ default_project_domain_id }}
  project_domain_name: {{ default_project_domain_name }}
  insecure: False
  ca_file: # TODO: See Verne - install into container?
  max_measurement_buffer_size: {{ monasca_agent_max_buffer_size }}
  backlog_send_rate: {{ monasca_agent_backlog_send_rate }}
  max_batch_size: {{ monasca_agent_max_batch_size }}
  amplifier: 0

Main:
  hostname: {{ ansible_hostname }}
  dimensions: {}
  check_freq: {{ monasca_agent_check_frequency }}
  num_collector_threads: 1
  pool_full_max_retries: 4
  sub_collection_warn: 6
  collector_restart_interval: 24
  non_local_traffic: True  # Required?
  forwarder_url: http://127.0.0.1:{{ monasca_agent_forwarder_port }}
  listen_port: {{ monasca_agent_forwarder_port }}

Statsd:
  monasca_statsd_port : {{ monasca_agent_statsd_port }}
  non_local_traffic: True

Logging:
  log_level: {{ 'DEBUG' if monasca_logging_debug else 'INFO' }}
  collector_log_file: /var/log/kolla/monasca/agent-collector.log
  forwarder_log_file: /var/log/kolla/monasca/agent-forwarder.log
  statsd_log_file: /var/log/kolla/monasca/agent-statsd.log
  enable_logrotate: False
